/*
|------------------------------------------------------------------------------
| Type Setup
|------------------------------------------------------------------------------
|
| 
|
*/

/* 24px - The quick brown fox jumps over the lazy dog */
.class-for-24px {
  font-size: 1.1429em; /* 24px */
  line-height: 1.2917em; /* 31px */
  margin-top: 1.2917em;  margin-bottom: 0.0000em;
}
/* 22px - The quick brown fox jumps over the lazy dog */
.class-for-22px {
  font-size: 1.0476em; /* 22px */
  line-height: 1.4091em; /* 31px */
  margin-top: 1.4091em;  margin-bottom: 0.0000em;
}
/* 18px - The quick brown fox jumps over the lazy dog */
.class-for-18px {
  font-size: 0.8571em; /* 18px */
  line-height: 1.7222em; /* 31px */
  margin-top: 1.7222em;  margin-bottom: 0.0000em;
}


/*
|------------------------------------------------------------------------------
| Base Styles
|------------------------------------------------------------------------------
|
| 
|
*/

body {
  font-size: 22px;
  line-height: 1.5;
  font-family: 'Alegreya Sans';
  max-width: 28.889em;
  margin: auto;
  padding: 50px 20px;
  color: #191919;
}

#nodex > header {
  padding-bottom: 1.1667em;
  border-bottom: 2px solid #ccc;
}

main {
  clear: both;
}

footer {
  text-align: center;
}

nav {
  text-align: center;
}

p {
  text-rendering: optimizeLegibility;
  font-size: 1em; /* 21px */
  line-height: 1.4762em; /* 31px */
  margin: 0 0 1.4762em 0;
  /*word-spacing: 0.25em;*/
}

a {
  font-size: inherit;
  line-height: inherit;
  margin: inherit;
  text-decoration: none;
  color: #191919;
}
a:hover {
  text-decoration: underline;
}

.action_link {
  color: #D33343;
}

.action_button {
  font-size: inherit;
  line-height: inherit;
  margin: inherit;
  text-transform: lowercase;
  font-family: 'Alegreya Sans SC';
  text-decoration: none;
  font-weight: 500;
  color: #191919;
  color: inherit;
}

h1, h2, h3 {
  font-size: 1.0476em; /* 22px */
  line-height: 1.4091em; /* 31px */
  margin-top: 1.4091em;  margin-bottom: 0.0000em;
  text-rendering: optimizeLegibility;
  display: inline-block;
}

h1 {
  text-transform: uppercase;
  font-style: italic; 
  font-weight: lighter;
}

#global_nav {
  position: absolute;
  left: 30px;
}

#nodex_search:before {
  content: '◦';
  vertical-align: middle;
  margin-right: 10px;
}
#new_doc {

}

#nodex_menu:after {
  content: '⋯';
  vertical-align: middle;
  margin-left: 10px;
}



.divider {
  border-bottom: 1px dotted #ccc;
}

.nodex_logo {
  font-weight: 800;
}

.nodex_logo:before {
  position: absolute;
  content: '/';
  margin-left: -10px;
  color: #D33343;
}

.avatar {
  color: #D33343;
}

.doc_activity {
  font-style: italic;
  margin-bottom: 0;
  /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;*/
}

.doc_status {
  font-size: 0.8571em; /* 18px */
  line-height: 1.7222em; /* 31px */
  /*margin-top: 1.7222em;  margin-bottom: 0.0000em;*/
}

.doc_menu {
  display: none;
}

.float_left {
  float: left;
  font-size: inherit; /* 22px */
  line-height: inherit; /* 31px */
}

.float_right {
  float: right;
  font-size: inherit; /* 22px */
  line-height: inherit; /* 31px */
}

.with_margin {
  margin-top: 1.4091em;  margin-bottom: 0.0000em;
}

.doc_title {
  color: #191919;
  text-decoration: none;
}


