/*
|------------------------------------------------------------------------------
| Type Setup
|------------------------------------------------------------------------------
|
| 
|
*/

@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,500,700,400italic,500italic,700italic|Alegreya+Sans:300,400,700,300italic,400italic,700italic|Alegreya:400italic,700italic,400,700&subset=latin,latin-ext);


/* 27px */
.class-for-27px {
  font-size: 1.5000em; /* 27px */
  line-height: 1.5556em; /* 42px */
  margin-top: 0.7778em;  margin-bottom: 0.0000em;
}
/* 21px */
.class-for-21px {
  font-size: 1.1667em; /* 21px */
  line-height: 1.0000em; /* 21px */
  margin-top: 1.0000em;  margin-bottom: 0.0000em;
}
/* 18px  */
.class-for-18px {
  font-size: 1.0000em; /* 18px */
  line-height: 1.1667em; /* 21px */
  margin-top: 1.1667em;  margin-bottom: 0.0000em;
}
/* 14px */
.class-for-14px {
  font-size: 0.7778em; /* 14px */
  line-height: 1.5000em; /* 21px */
  margin-top: 1.5000em;  margin-bottom: 0.0000em;
}




/*
|------------------------------------------------------------------------------
| Base Styles
|------------------------------------------------------------------------------
|
| 
|
*/

body {
  font-size: 18px;
  font-family: "Alegreya Sans";
  max-width: 800px;
  margin: auto;
  padding: 50px 20px;
  color: #191919;
}

#nodex > header {
  padding-bottom: 1.1667em;
  border-bottom: 2px solid #ccc;
}

main {
  clear: both;
}

footer {
  text-align: center;
}

nav {
  text-align: center;
}

p {
  font-size: 1em; /* 18px */
  line-height: 1.1667em; /* 21px */
  margin: 0 0 1.1667em 0;
}

a {
  font-size: inherit;
  line-height: inherit;
  margin: inherit;
  color: #D33343;
}

.action_button {
  text-transform: lowercase;
  font-family: "Alegreya Sans SC";
  text-decoration: none;
  font-weight: 400;
  color: #191919;
  color: inherit;
}

h1, h2, h3 {
  font-size: 1.0000em; /* 18px */
  line-height: 1.1667em; /* 21px */
  margin: 1.1667em auto;
  display: inline-block;
}

h1 {
  text-transform: uppercase;
  font-style: italic; 
  font-weight: lighter;
}

#global_nav {
  position: absolute;
  left: 30px;
}

#nodex_search {
  float: left;
}
#nodex_search:before {
  content: "◦";
  vertical-align: middle;
  margin-right: 10px;
}
#new_doc {

}
#nodex_menu {
  float: right;
}

#nodex_menu:after {
  content: "⋯";
  vertical-align: middle;
  margin-left: 10px;
}

#nodex_archive {
  float: right;
  margin-top: 1.1667em;  margin-bottom: 0.0000em;
}

.divider {
  border-bottom: 1px dotted #ccc;
  /*padding-bottom: 1.1667em;*/
}

.nodex_logo {
  font-weight: 800;
}

.nodex_logo:before {
  position: absolute;
  content: "/";
  margin-left: -10px;
  color: #D33343;
}

.avatar {
  color: #D33343;
}

.doc_activity {
  font-style: italic;
  margin-bottom: 0;
  /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;*/
}

.doc_status {
  text-transform: lowercase;
  font-family: "Alegreya Sans SC";
  /*color: #ccc;*/
}

.doc_menu {
  display: none;
}

.add_doc_collaborators {
  float: right;
  margin-top: 1.1667em;  margin-bottom: 0.0000em;
}

.view_doc_activity {
  float: right;
  font-style: normal;
}

.toggle_doc_menu {
  float: right;
  margin-top: 1.1667em;  margin-bottom: 0.0000em;
}

.doc_title {
  color: #191919;
  text-decoration: none;
}

.*_menu {
  float: right;
  margin-top: 1.1667em;  margin-bottom: 0.0000em;
}